.bodyContainer {
  margin: 0 90px;
  min-height: calc(100vh - 280px);
}

.bodyContainer ol {
  margin-top: 0;
}

.bodyContainer .listItem::marker {
  font-family: "Ubuntu Mono", "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.125rem;
}

:global(.theme-dark) .bodyContainer .listItem::marker {
  color: rgba(255, 255, 255, 0.5);
}

:global(.bp5-button:not([class*="bp5-intent-"])).showMoreButton,
:global(.bp5-dark .bp5-button:not([class*="bp5-intent-"])).showMoreButton {
  margin-left: 2.25rem;
  padding: 0.5rem 0.875rem;
  min-width: 104px;
  min-height: 34px;
  background-color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 600;
  border: none;
  color: white;
  border-radius: 0;
  border: none;
  box-shadow: none;
  outline: none;
}

:global(.bp5-button:not([class*="bp5-intent-"]):not([class*="bp5-disabled"])).showMoreButton:hover {
  box-shadow: none;
  background-color: #f27340;
}

:global(.bp5-button:not([class*="bp5-intent-"]):not([class*="bp5-disabled"])).showMoreButton:active {
  background-color: #d0592a;
}
