.bodyContainer {
  margin: 0 90px;
}

.bodyContainer li::marker {
  font-family: "Ubuntu Mono", "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.125rem;
}

.showMoreButton {
  margin-left: 2.25rem;
  padding: 0.5rem 0.875rem;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: var(--primary-color);
  border: none;
  color: white;
}
