.filter,
.filter:hover {
  color: black;
  text-decoration: none;
  outline: none;
}

:global(.theme-dark) .filter {
  color: white;
}

.filter:hover {
  color: var(--primary-color);
}

.filter:focus {
  outline: none;
}

.filterSelected,
:global(.theme-dark) .filterSelected,
.filterSelected:hover {
  color: var(--primary-color);
  font-weight: 800;
}

.divider {
  margin: 0 0.5rem;
}
