.filter,
.filter:hover {
  color: black;
  text-decoration: none;
  outline: none;
}

.filter:hover {
  color: var(--primary-color);
}

.filter:focus {
  outline: none;
}

.filterSelected,
.filterSelected:hover {
  color: var(--primary-color);
  font-weight: 800;
}

.divider {
  margin: 0 0.5rem;
}
