.headerContainer {
  width: 100%;
}

.headerBorder {
  height: 4px;
  background-color: var(--primary-color);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 123px;
  padding: 45px;
  font-size: 0.875rem;
}

.leftHeaderContent {
  display: flex;
  align-items: center;
}

.hnLogo {
  height: 33px;
  margin-right: 2.25rem;
}

.themeButton:focus {
  outline: none;
}
